<!DOCTYPE html>
<html>
<head>
    <link href="/bootstrap.css" rel="stylesheet"/>
    <link href="/custom.css" rel="stylesheet"/>
    <style>
        p {color:red;font-weight: bold;}
        </style>

</head>
<body>

<div th:insert="navbar :: navbar"></div>

<div class="container">

    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>List of Events</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Event Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Description</th>
                    <th scope="col">Participants</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${#temporals.format(event.date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${event.place}"></td>
                    <td th:text="${event.description}"></td>
                    <td >
                        <ul class="list-group list-group-flush" th:each="participant : ${event.participants}">
                            <li class="list-group-item" th:text="${participant.name}">Kata Nagy</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="container" style="margin-top:5mm; ">

    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>Add Event</h3>
        </div>
        <div class="card-body bg-light">
            <form action="#" th:action="@{/save-event}" th:object="${eventForm}" method="post">
                <div class="form-group">
                    <label for="date" class="col-sm-2 col-form-label">Event Date</label>
                    <input type="date" class="form-control" id="date" th:field="*{date}" onload="getDate()" name="date" >
                    <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
                        *Date must be in the future
                    <p>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" th:field="*{location}">
                    <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>

<script>
    var today = new Date();
    document.getElementById("date").value = today.getFullYear() + '-'
        + ('0' + (today.getMonth() + 1)).slice(-2) + '-'
        + ('0' + today.getDate()).slice(-2);
</script>
</body>
</html>
