<!DOCTYPE html>
<html>
<head>
    <link href="bootstrap.css" rel="stylesheet"/>
    <link href="custom.css" rel="stylesheet"/>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>My Games</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Min age</th>
                    <th scope="col">No. players</th>
                    <th scope="col">Play time</th>
                    <th scope="col">Categories</th>
                </tr>
                </thead>
                <tbody style="text-align:justify">
                <tr th:each="cur: ${currentGames}">
                    <td th:text="${cur.name}"></td>
                    <td th:text="${cur.description}"></td>
                    <td th:text="${cur.minimumAge}"></td>
                    <td th:text="${cur.numberOfPlayers.toString()}"></td>
                    <td th:text="${cur.playTime.toString()}"> min</td>
                    <td>
                        <ul class="list-group list-group-flush"  th:each="c: ${cur.categories}" >
                            <li class="list-group-item" th:text="${c}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container" style="margin-top:5mm;" th:if="${optionalGames.size() > 0}">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>All Games</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Min age</th>
                    <th scope="col">No. players</th>
                    <th scope="col">Play time</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody style="text-align:justify">
                <tr th:each="op: ${optionalGames}">
                    <td th:text="${op.name}"></td>
                    <td th:text="${op.description}"></td>
                    <td th:text="${op.minimumAge}"></td>
                    <td th:text="${op.numberOfPlayers.toString()}"></td>
                    <td th:text="${op.playTime.toString()}"> min</td>
                    <td>
                        <ul class="list-group list-group-flush"  th:each="c: ${op.categories}" >
                            <li class="list-group-item" th:text="${c}"></li>
                        </ul>
                    </td>
                    <td>
                        <form method="POST" th:action="@{/add-game-to-list(gameId=${op.id})}">
                            <button type="submit" name="submit" value="value" class="btn btn-outline-primary btn-sm">Add</button>
                        </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
