<!DOCTYPE html>
<html>
<head>
    <link href="bootstrap.css" rel="stylesheet"/>
    <link href="custom.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">Game Club</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="user-details">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="group-details">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="games-list">Games</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>Group details</h3>
        </div>
        <div class="card-body bg-light">
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">Óbudai Informatika Játék Csoport</dd>

                <dt class="col-sm-3">Admin name</dt>
                <dd class="col-sm-9">Horváth Ádám</dd>
            </dl>

            <h6>Members</h6>
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Kovács Péter</td>
                    <td>kovacs.peter@gmail.com</td>
                </tr>
                <tr>
                    <td>Kiss István</td>
                    <td>kiss.istvan@gmail.com</td>
                </tr>
                </tbody>
            </table>

            <h6>Events</h6>
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Event Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Attend</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2022.03.23. 18:00</td>
                    <td>Board Game Cafe Budapest, Ferenc körút 17.</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2022.03.25. 20:00</td>
                    <td>At Józsi apartmant, Liszt F. u 17.</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-primary btn-sm">Attend</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
