<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="/bootstrap.css" rel="stylesheet"/>
    <link href="/custom.css" rel="stylesheet"/>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>Group details</h3>
        </div>
        <div class="card-body bg-light">
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9" th:text="${group.name}"></dd>

                <dt class="col-sm-3">Admin name</dt>
                <dd class="col-sm-9" th:text="${group.admin.name}"></dd>
            </dl>

            <h6>Members</h6>
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member: ${group.members}">
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.email}"></td>
                </tr>
                </tbody>
            </table>

            <a th:href="@{'/event-details/' + ${group.id}}" sec:authorize="hasAuthority('GROUP_ADMIN')">Events</a>
            <div sec:authorize="hasAuthority('PLAYER')">
            <h6>Events</h6>
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Event Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Attend</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event: ${group.events}">
                    <td th:text="${event.date}"></td>
                    <td th:text="${event.place}"></td>
                    <td th:if="${event.participatePlayer(currentPlayer.id)}"></td>
                    <td class="text-center" th:unless="${event.participatePlayer(currentPlayer.id)}">
                        <form method="POST" th:action="@{/attend-event(playerId=${currentPlayer.id},eventId=${event.id})}">
                            <button type="submit" name="submit" value="value" class="btn btn-outline-primary btn-sm">
                                Attend
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
                </div>
        </div>
    </div>
</div>
</body>
</html>
