<!DOCTYPE html>
<html>
<head>
    <link href="bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="custom.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>User details</h3>
        </div>
        <div class="card-body bg-light">
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9"><p th:text="${player.name}" /> </dd>

                <dt class="col-sm-3">Login name</dt>
                <dd class="col-sm-9"><p th:text="${player.loginName}" /></dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9"><p th:text="${player.email}" /></dd>
            </dl>
        </div>
    </div>
</div>
</div>
</body>
</html>
